.banner{
	background: var(--cor-fonts-items);
	color: var(--cor-backgroundPrincipal);
	text-align: center;
	padding: 1.5rem;
}

.banner__titulo{
	font-size: 1.5rem;
	font-weight: 700;
}

.banner__texto{
	font-weight: 500;
	margin: 1rem;
}

.banner__pesquisa{
	background-color: transparent;
	border: 0.2rem solid var(--cor-backgroundPrincipal);
	border-radius: 2rem;
	color: var(--cor-backgroundPrincipal);
	padding: 0.5rem;
	width: 90%;
	margin-top: 0.5rem;
}

.banner__pesquisa::placeholder{
	font-family: var(--font);
	font-size: 0.8rem;
	font-weight: 400;
	text-align: center;
	color: var(--cor-backgroundPrincipal);
	background: url("../imgs/Pesquisa.svg") no-repeat;
	background-position: 1.2rem;
}