.cabecalho{
	background-color: var(--cor-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.cabecalho__menu{
	width: 2rem;
	height: 2rem;
	background-image: url("../imgs/Menu.svg");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	margin: 1rem; diferenca
}

.container{
	display: flex;
	align-items: center;
	
}

.container__imagem{
	margin: 0.5rem;
}

.lista__menu{
	display: none;
	position: absolute;
	top: 100%;
	width: 60vw;
}

.container__botao:checked ~ .lista__menu{
	display: block;
}

#menu{
	display: none;
}

.lista__item,
.lista__titulo{
	padding: 0.8rem;
	background-color: var(--cor-background);
}

.lista__titulo{
	color: var(--cor-fonts-titulos);
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
}

.lista__item{
	background: var(--cor-fonts-items);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-transform: uppercase;
}
